
{% extends 'base.html' %}
{% block content %}
    <header>
        <h1>Django</h1>
        <p>Welcome to your Product Detail page!</p>
    </header>

    <section>
        <h1>All Products</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Description</th>
        <th>Featured</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.title }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.featured }}</td>
          <td>{{ product.summary }}</td>
        </tr>
        <!-- Add more fields as needed -->
      {% endfor %}
    </tbody>
  </table>
    </section>




    {% endblock %}